# Database 
DATABASE_URL=

# JWT 인증
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
REFRESH_TOKEN_EXPIRE_DAYS=14

# AWS S3 + CloudFront
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=medipaw-bucket
CLOUDFRONT_URL=https://your-cloudfront-url

# OpenAI
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL=gpt-4o

# RabbitMQ + Celery
RABBITMQ_URL=amqp://guest:guest@localhost:5672/


# 서버 설정
DEBUG=True
ALLOWED_ORIGINS=http://localhost:3000